/* GLOBAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #29303b;
}

html {
  font-size: 16px;
}

input {
  border: none;
  outline: none;
}

/* HEADER */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #b1b1b1; */
  padding: 15px 0;
  color: #505763;
  width: 94%;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  width: 106px;
  margin-right: 26px;
}

.header-left .fa-th {
  font-size: 13px;
  margin-right: 3px;
  color: #a1a7b3;
}

.header-left span {
  font-size: 13px;
  margin-right: 15px;
}

.header-left .search-area {
  height: 39px;
  display: flex;
  align-items: center;
  border-radius: 0 4px 4px 0;
  overflow: hidden;
  background: #f2f3f5;
}

.header-left .search-area input {
  width: 457px;
  height: 100%;
  font-size: 1rem;
  border: none;
  padding-left: 13px;
  background: transparent;
}

.header-left .search-area input::placeholder {
  color: #505763;
}

.header-left .search-area input:focus {
  background: #fff;
  border: 1px solid #f2f3f5;
}

.header-left .search-area button {
  height: 100%;
  border: none;
  background: #ec5252;
  padding: 0 13px;
  font-size: 16px;
  color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right span {
  font-size: 13px;
  margin: 15px;
}

.header-right .fa-shopping-cart {
  margin-right: 20px;
  font-size: 21px;
}

.header-right .btn-log-in {
  padding: 13px 12px;
  font-size: 15px;
  border: 1px solid #505763;
  color: #686f7a;
  background: #fff;
  font-weight: 600;
}

.header-right .btn-sign-up {
  padding: 13px;
  font-size: 15px;
  border: 1px solid #ec5252;
  color: #fff;
  font-weight: 600;
  background: #ec5252;
  margin-left: 5px;
}

/* BANNER */
.banner {
  width: 100%;
  height: 500px;
  background: url(./img/cover.jpg) center/cover;
  overflow: auto;
}

.banner__text {
  color: #fff;
  width: 40%;
  margin-top: 180px;
  margin-left: 150px;
}

.banner__text h1 {
  font-size: 2.5rem;
}

.banner__text p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.banner .search-area {
  height: 39px;
  display: flex;
  align-items: center;
  border-radius: 0 4px 4px 0;
  background: #fff;
  justify-content: space-between;
}

.banner .search-area input {
  height: 100%;
  font-size: 1rem;
  border: none;
  padding-left: 13px;
  background: transparent;
  flex-grow: 1;
}

.banner .search-area input::placeholder {
  color: #505763;
}

.banner .search-area button {
  height: 100%;
  border: none;
  background: #fff;
  padding: 0 13px;
  font-size: 16px;
  color: #ec5252;
  cursor: pointer;
  transition: 0.3s;
}

.banner .search-area button:hover {
  background: #ec5252;
  color: #fff;
}

/* FEATURE */
.features {
  background: linear-gradient(45deg, #6e1a52, #ec5252);
  padding: 15px 0;
}

.features-wrapper {
  display: flex;
  width: 78%;
  margin: 0 auto;
  align-items: center;
  color: #fff;
}

.features__item {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.features__item i {
  font-size: 50px;
  margin: 0 20px;
}

.features__item__text h2 {
  font-size: 18px;
}

.features__item__text p {
  font-size: 15px;
}

/* COURSES */
.courses-wrapper {
  width: 90%;
  height: 350px;
  margin: 25px auto 0;
  display: flex;
}

.courses-left {
  width: 25%;
  height: 100%;
  background: rgba(20, 23, 28, 0.05);
  display: flex;
  align-items: center;
}

.courses-left__text {
  width: 80%;
  margin: 0 auto;
}

.courses-left__text p:first-child {
  font-size: 18px;
  margin-bottom: 8px;
}

.courses-left__text p:last-child {
  font-size: 15px;
  line-height: 1.5em;
}

.courses-right {
  width: 75%;
}

.courses-right-wrapper {
  margin: 0 25px 0 15px;
}

.courses-right__nav {
  width: 100%;
  border-bottom: 1px solid #dee2e6;
}

.courses-right ul {
  display: flex;
  list-style: none;
}

.courses-right ul li {
  padding: 0 18px 7px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  border-bottom: 5px solid transparent;
}

.courses-right ul li:hover {
  color: #007791;
}

.courses-right ul li.active {
  color: #007791;
  border-bottom: 5px solid #007791;
}

.courses-carousel {
  /* display: none; */
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-out;
}

.courses-carousel.active {
  /* display: block; */
  margin: 25px -8px 0;
  opacity: 1;
  height: auto;
  overflow: visible;
}

.courses__item {
  width: 204px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  margin: 0 8px 30px;
}

.courses__item img {
  width: 100%;
}

.courses__item-text {
  padding: 15px;
}

.courses__item-text h3 {
  font-size: 13px;
}

.courses__item-text p {
  font-size: 12px;
  margin: 10px 0 5px;
}

.courses__item-text .rate {
  font-size: 13px;
}

.courses__item-text .rate i {
  color: #f4c150;
}

.courses__item-text .rate span:first-of-type {
  font-weight: 600;
}

.courses__item-text .price {
  text-align: end;
  margin: 10px;
}

.courses__item-text .price span:first-child {
  font-size: 13px;
  text-decoration: line-through;
}

.courses__item-text .price span:last-child {
  font-size: 15px;
  font-weight: 600;
}

.courses-carousel .slick-prev,
.courses-carousel .slick-next {
  border-radius: 50%;
  top: 40%;
  width: 43px;
  height: 43px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.3);
  z-index: 1;
}

.courses-carousel .slick-prev {
  left: -12px;
}

.courses-carousel .slick-next {
  right: -12px;
}

.courses-carousel .slick-prev:before,
.courses-carousel .slick-next:before {
  content: "";
}

.courses-carousel .slick-prev i,
.courses-carousel .slick-next i {
  font-size: 11px;
  color: #007791;
  line-height: 20px;
}
